<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Webpack Boilerplate | Basic Static Website</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0"
    />
  </head>
  <body>
    <div class="container app">
      <div class="row align-items-center align-self-center">
        <div class="col">
          <div class="d-flex flex-column align-items-center">
            <h1 class="page-title mb-4"><strong>Hello, World!</strong></h1>
            <img
              src="<%= require('../../images/logo.png').default %>"
              alt="Logo"
              width="176"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
