<% const content = htmlWebpackPlugin.options.content; %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Webpack Boilerplate | Basic Static Website</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <%= require('./views/partials/navbar.html') %> <%=
      require(`./views/${content}`) %> <%=
      require('./views/partials/footer.html') %>
    </div>
  </body>
</html>
